<div class="col-6">
  <input class="form-control" type="text" placeholder="Name" [(ngModel)]="currName">
  <input class="form-control" type="text" placeholder="Email" [(ngModel)]="currEmail">
  <input class="form-control" type="text" placeholder="Phone" [(ngModel)]="currPhone">
  <input class="form-control" type="text" placeholder="Address" [(ngModel)]="currAddress">
  <button type="button" class="btn btn-primary right" (click)="addContact()">Add</button>

  <hr>
  <app-alert *ngIf="service.contacts.length != 0"></app-alert>
</div>
